<md-sidenav-container>
  <md-sidenav [mode]="sidenavMode" opened="true" #sidenav>
    <md-card-title>Recipe Finding Tools</md-card-title>
    <div>
      Sort Option:
      <md-radio-group [formControl]="sortOption" fxLayout="column" fxLayoutGap="8px">
        <md-radio-button [value]="'missing'">By # of missing ingredients</md-radio-button>
        <md-radio-button [value]="'have'">By % of total ingredients</md-radio-button>
      </md-radio-group>
    </div>
    <h2>My Ingredients:</h2>
    <div *ngFor="let type of types" style="margin-top: 8px"> 
      <md-expansion-panel>
        <md-expansion-panel-header>
          {{type}}
        </md-expansion-panel-header>
        <div fxLayout="row" fxLayoutWrap>
          <md-checkbox style="margin:4px;" *ngFor="let ingredient of ingredientsByType.get(type)" [formControl]="formControlFor(ingredient, type)">
            {{ingredient}}
          </md-checkbox>
        </div>
      </md-expansion-panel>
    </div>
  </md-sidenav>
  <div class="my-content" fxLayout="row" fxLayoutWrap fxLayoutAlign="center start">
    <md-card *ngFor="let info of filteredCocktails" style="margin: 16px;" fxFlex="400px">
      <md-card-title>{{info.recipe.name}}</md-card-title>
      <img md-card-image [src]="info.recipe.imageUrl">
      <md-card-content>
        <div *ngIf="info.have.length > 0">
          <b>uses your</b>: {{info.have.join(', ')}}
        </div>
        <div *ngIf="info.dontHave.length > 0">
          <b>you're missing {{info.dontHave.length}} ingredients</b>: {{info.dontHave.join(', ')}}
        </div>
        <div>
          You have <b>{{info.percentIHave | percent:'1.0-1'}}</b> of the ingredients
        </div>
        <div>
          {{info.recipe.description}}
        </div>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button (click)="view(recipe)">view</button>
        <button md-raised-button color="primary" [routerLink]="['/recipe/edit', info.recipe.$key]">edit</button>
      </md-card-actions>
    </md-card>
  </div>
</md-sidenav-container>
<button md-fab (click)="toggleSidenav()" *ngIf="sidenavMode === 'over'">
  <md-icon>filter_list</md-icon>
</button>