.mat-sidenav {
    max-width: 400px;
    padding: 8px;
}

.mat-fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

@media(max-width: 800px) {
    .mat-sidenav {
        max-width: 300px;
    }
}