.mat-sidenav {
    max-width: 400px;
    padding: 8px;
}

.mat-sidenav-container {
    /* subtract header height */
    height: calc(100% - 64px);
}

@media(max-width: 600px) {
    .mat-sidenav-container {
        /* subtract header height */
        height: calc(100% - 56px);
    }
}

.mat-fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

@media(max-width: 800px) {
    .mat-sidenav {
        max-width: 300px;
    }
}

:host {
    max-width: 100%;
}