<md-sidenav-container>
  <md-sidenav [mode]="sidenavMode" opened="false" #sidenav>
    <md-card-title>Recipe Finding Tools</md-card-title>
    <div fxLayoutGap="8px" fxLayout="column">
      Sort Option:
      <md-radio-group (change)="applyFilters()" [formControl]="sortOption">
        <md-radio-button [value]="'missing'">By # of missing ingredients</md-radio-button>
        <md-radio-button [value]="'have'">By % of total ingredients</md-radio-button>
      </md-radio-group>
      Filter Options:
      <md-checkbox (change)="applyFilters()" [formControl]="ignoreGarnishIngredients">Ignore garnish ingredients</md-checkbox>
    </div>
    <h2>My Ingredients:</h2>
    <div *ngFor="let type of types" style="margin-top: 8px"> 
      <md-expansion-panel>
        <md-expansion-panel-header>
          {{type}}
        </md-expansion-panel-header>
        <div fxLayout="row" fxLayoutWrap>
          <md-checkbox (change)="ingredientCheckChange($event, ingredient, type)"
           style="margin:4px;" *ngFor="let ingredient of ingredientsByType.get(type)" [formControl]="formControlFor(ingredient, type)">
            {{ingredient}}
          </md-checkbox>
        </div>
      </md-expansion-panel>
    </div>
  </md-sidenav>
  <div class="my-content" fxLayout="row" fxLayoutWrap fxLayoutAlign="center start">
    <md-card *ngFor="let info of filteredCocktails" style="margin: 16px;" fxFlex="400px" fxFlex.xs="90%">
      <md-card-header>
        <md-card-title> <b>{{info.recipe.name}}</b> </md-card-title>
        <md-card-subtitle>
          You have <b>{{info.percentIHave | percent:'1.0-1'}}</b> of the ingredients
        </md-card-subtitle>
        <img md-card-avatar *ngIf="info.recipe.imageUrl" [src]="info.recipe.imageUrl">
      </md-card-header>
      <md-card-content>
        <div *ngIf="info.have.length > 0">
          Uses your: 
          <ul>
            <li *ngFor="let have of info.have">
              {{have.name}}
            </li>
          </ul>
        </div>
        <div *ngIf="info.dontHave.length > 0">
          You're missing {{info.dontHave.length}} ingredients:
          <ul>
            <li *ngFor="let missing of info.dontHave">
              {{missing.name}}
            </li>
          </ul>
        </div>
      </md-card-content>
      <md-card-actions fxLayout="row" fxLayoutAlign="end">
        <button md-button [routerLink]="['/recipe/view', info.recipe.$key]">view</button>
        <button md-button color="primary" [routerLink]="['/recipe/edit', info.recipe.$key]">edit</button>
      </md-card-actions>
    </md-card>
  </div>
</md-sidenav-container>
<button md-fab (click)="toggleSidenav()" *ngIf="sidenavMode === 'over'">
  <md-icon>filter_list</md-icon>
</button>