<mat-sidenav-container>
  <mat-sidenav [mode]="sidenavMode" #sidenav>
    <mat-card-title>Recipe Finding Tools</mat-card-title>
    <div fxLayoutGap="8px" fxLayout="column">
      Sort Option:
      <mat-radio-group (change)="applyFilters()" [formControl]="sortOption">
        <mat-radio-button [value]="'missing'">By # of missing ingredients</mat-radio-button>
        <mat-radio-button [value]="'have'">By % of total ingredients</mat-radio-button>
      </mat-radio-group>
      Filter Options:
      <mat-checkbox (change)="applyFilters()" [formControl]="ignoreGarnishIngredients">Ignore garnish ingredients</mat-checkbox>
    </div>
    <h2>My Ingredients:</h2>
    <ingredient-selector [ingredients]="allIngredients" 
                         (selectedIngredientsChange)="selectedIngredientsChange($event)" 
                         [selectedIngredients]="selectedIngredients">
    </ingredient-selector>
  </mat-sidenav>
  <div class="my-content" fxLayout="row wrap" fxLayoutAlign="center start">
    <recipe-card *ngFor="let info of filteredCocktails" [recipeInfo]="info"
                 style="margin: 16px;" fxFlex="400px" fxFlex.xs="90%">
    </recipe-card>
  </div>
</mat-sidenav-container>
<button mat-fab (click)="toggleSidenav()" *ngIf="sidenavMode === 'over'">
  <mat-icon>filter_list</mat-icon>
</button>
