<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" style="width:500px">
  <md-card>
    <md-card-header>
      <md-input-container>
        <input type="text" mdInput placeholder="Recipe Name" [formControl]="name">
      </md-input-container>
    </md-card-header>
    <img md-card-image [src]="imageUrl.value">
    <md-card-content fxLayout="column">
      <md-input-container>
        <input type="text" mdInput placeholder="Recipe Image link" [formControl]="imageUrl">
      </md-input-container>
      <md-input-container>
        <textarea mdInput placeholder="Description" [formControl]="description"></textarea>
      </md-input-container>
      <md-input-container>
        <textarea mdInput placeholder="Directions" [formControl]="directions"></textarea>
      </md-input-container>
      <div>
        <ng-container formArrayName="ingredients">
          <ng-container *ngFor="let ingredient of ingredients.controls; index as i">
            <recipe-ingredient [formControlName]="i"></recipe-ingredient>
            <a md-button color="accent" (click)="deleteIngredient(i)">remove</a>
          </ng-container>
        </ng-container>
        <div>
          <a md-button (click)="newIngredient()">add ingredient</a>
        </div>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="primary" type="submit" [disabled]="!recipeForm.valid">Save</button>
      <a md-button (click)="location.back()">Cancel</a>
    </md-card-actions>
  </md-card>
</form>