<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-form-field>
        <input type="text" matInput placeholder="Recipe Name" [formControl]="name">
      </mat-form-field>
    </mat-card-header>
    <img mat-card-image [src]="imageUrl.value">
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input type="text" matInput placeholder="Recipe Image link" [formControl]="imageUrl">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Description" [formControl]="description"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Directions" [formControl]="directions"></textarea>
      </mat-form-field>
      <div>
        <ng-container formArrayName="ingredients">
          <ng-container *ngFor="let ingredient of ingredients.controls; index as i">
            <recipe-ingredient [formControlName]="i"></recipe-ingredient>
            <a mat-button color="accent" (click)="deleteIngredient(i)">remove</a>
          </ng-container>
        </ng-container>
        <div>
          <a mat-button (click)="newIngredient()">add ingredient</a>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!recipeForm.valid">Save</button>
      <a mat-button (click)="location.back()">Cancel</a>
    </mat-card-actions>
  </mat-card>
</form>