<div class="container">
  <md-card>
    <md-card-content>
    <div progressiveBackgroundImage class="my-image" [hq]="hqImage" [lq]="lqImage"></div>
      Hey, what's up? You're probably here for beer school because that's the only thing I'm using this for right now. Go to the beer cocktails page :)
      <!-- You'll first need to log in <ng-container *ngIf="user|async">(you did it, woohoo!)</ng-container>. Then I'll manually approve your account. After that, you'll have access to the beer cocktails. -->
    </md-card-content>
    <!-- <md-card-actions *ngIf="!(user|async)">
      <button md-raised-button color="primary" (click)="login()">Login</button>
    </md-card-actions> -->
  </md-card>
</div>