<div class="container">
  <mat-card>
    <mat-card-content>
    <div progressiveBackgroundImage class="my-image" [hq]="hqImage" [lq]="lqImage"></div>
      Hey, what's up? You're probably here for beer school because that's the only thing I'm using this for right now. Go to the beer cocktails page :)
      <!-- You'll first need to log in <ng-container *ngIf="user|async">(you did it, woohoo!)</ng-container>. Then I'll manually approve your account. After that, you'll have access to the beer cocktails. -->
    </mat-card-content>
    <!-- <mat-card-actions *ngIf="!(user|async)">
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </mat-card-actions> -->
  </mat-card>
</div>
