<div [formGroup]="ingredientForm">
  <mat-form-field>
    <input matInput placeholder="name" [formControl]="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="details" [formControl]="details">
  </mat-form-field>
  <mat-select placeholder="ingredient type" [formControl]="ingredientType">
    <mat-option *ngFor="let type of ingredientTypes" [value]="type">{{type}}</mat-option>
  </mat-select>
  <div>
    Measurement info:
  </div>
  <div [formGroup]="measurement">
    <mat-form-field>
      <input matInput type="number" placeholder="amount" [formControl]="amount">
    </mat-form-field>
    <mat-select placeholder="measurement type" [formControl]="measurementType">
      <mat-option *ngFor="let type of measurementTypes" [value]="type">{{type}}</mat-option>
    </mat-select>
  </div>
</div>
